@import url('https://fonts.googleapis.com/css?family=VT323');

:root {
   /* darkest to lightest */
  --swatch1: #343240;
  --swatch2: #8E8FA7;
  --swatch3: #B4C4D9;
  --swatch4: #F0F2F2;
}

body {
  background-color: var(--swatch1);
  background-image: url('bg.png');
  background-position: center top;
  background-size: 1100px;
  font-family: 'VT323', monospace;
  font-size: 18px;
  margin: 0.5em;
  text-align: center;
}

button {
  /*box-shadow: 0 2px 1px 2px rgba(0,0,0, 0.1);*/
  background-color: var(--swatch2);
  border: 1px solid var(--swatch1);
  color: var(--swatch4);
  cursor: pointer;
  display: inline-block;
  font-family: 'VT323', monospace;
  font-size: 22px;
  padding: 6px 12px;
}

#scanlines {
  background-image: url('scanline.svg');
  background-size: 4px;
  /*background-image: url('grid.png'); background-size: 11.35px 22px;*/
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
}

#board {
  background-color: var(--swatch4);
  border-left: 1px solid var(--swatch2);
  border-top: 1px solid var(--swatch2);
  box-shadow: 0 3px 5px 10px rgba(0,0,0, 0.2);
  display: grid;
  font-size: 12px;
  margin: auto;
  outline: 8px solid var(--swatch4);
}

#board img {
  max-height: 20px;
  max-width: 20px;
  width: 90%;
}

#board .cell {
  align-items: center;
  border-bottom: 1px solid var(--swatch2);
  border-right: 1px solid var(--swatch2);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#board .cell .tile1,
#board .cell .tile2 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

#board .cell .tile1 {
  /*border-right: 1px dotted var(--swatch3);*/
}

#controls {
  margin-bottom: 20px;
}

#controls .active {
  background: linear-gradient(to bottom, var(--swatch1) 0%, var(--swatch2) 220%);
}

@media (min-width: 600px) {

  #board {
    border-width: 2px;
    font-size: 17px;
  }

  #board .cell {
    border-width: 2px;
  }

}
