@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-align: center;
}

button {
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 8px;
}

#board {
  outline: 5px solid rgb(85,23,167);
  display: grid;
  font-size: 12px;
  margin: auto;
}

#board img {
  max-height: 20px;
  max-width: 20px;
  width: 90%;
}

#board .cell {
  align-items: center;
  border: 1px solid rgb(85,23,167);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#board .cell .tile1,
#board .cell .tile2 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

#board .cell .tile1 {
  border-right: 1px dashed rgba(85,23,167, 0.25);
}

@media (min-width: 600px) {

  #board {
    outline-width: 8px;
    font-size: 17px;
  }

}
