@import url('fonts/uni05_3.css');

/* swatches
–––––––––––––––––––––––––––––––––––––––––––––––––---------------------------– */

:root {
   /* darkest to lightest */
  --swatch0: #081523;
  --swatch1: #1C3855;
  --swatch2: #6400C5;
  --swatch3: #1199CC;
  --swatch4: #F9FAFA;
  --focus: #FA0;
}

/* tags & page setup
–––––––––––––––––––––––––––––––––––––––––––––––––---------------------------– */

body,
html {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--swatch0);
  background-image: url('bg.png');
  background-position: center 45%;
  background-repeat: repeat-x;
  background-size: 1100px;
  font-family: 'uni0553', monospace;
  font-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: var(--swatch2);
  border: 2px solid var(--swatch0);
  border-left-color: var(--swatch3);
  border-top-color: var(--swatch3);
  color: var(--swatch4);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  padding: 10px 12px 15px 12px;
}

h1 {
  color: var(--swatch4);
  font-family: 'uni0563';
  margin: 0.2em 0;
}

#scanlines {
  background-image: url('scanline.png');
  background-size: 4px;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

#wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

/* splash page
–––––––––––––––––––––––––––––––––––––––––––––––––---------------------------– */

#instructions {
  color: var(--swatch4);
  text-align: center;
}

#instructions p {
  margin: 0.2em;
}

/* embellishments
–––––––––––––––––––––––––––––––––––––––––––––––––---------------------------– */

*:focus {
  outline: 2px solid var(--focus);
}

::selection {
  background-color: var(--focus);
}

.frame {
  outline: 8px solid var(--swatch1);
}

.hide {
  display: none !important;
}

#version {
  color: var(--swatch3);
  font-size: 1rem;
  margin-top: 15px;
  opacity: 0.6;
  text-align: center;
}

/* video & photo
–––––––––––––––––––––––––––––––––––––––––––––––––---------------------------– */

#snap {
  align-items: center;
  display: flex;
  justify-content: center;
}

#snap .ui {
  background-image: url('loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  min-height: 32px;
  min-width: 32px;
}

#snap video {
  border: 2px solid var(--swatch3);
  display: block;
  font-size: inherit;
  margin: auto;
  width: 60vw;
  max-width: 600px;
}

/* game board
–––––––––––––––––––––––––––––––––––––––––––––––––---------------------------– */

#board {
  background-color: var(--swatch3);
  border-left: 2px solid var(--swatch3);
  border-top: 2px solid var(--swatch3);
  color: var(--swatch0);
  display: grid;
  margin: auto;
  position: relative;
}

#board img {
  max-height: 20px;
  max-width: 20px;
  width: 90%;
}

#board .cell {
  align-items: center;
  background-image: url('cellbg.svg'), url('cellbg.svg'), url('cellbg.svg'), url('cellbg.svg');
  background-position: left top, right top, right bottom, left bottom;
  background-repeat: no-repeat;
  border-bottom: 2px solid var(--swatch3);
  border-right: 2px solid var(--swatch3);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#board .cell .tile1,
#board .cell .tile2 {
  align-items: center;
  display: flex;
  justify-content: center;
}

#board .cell .tile1 {
  /*border-right: 1px dotted var(--swatch3);*/
}

#board .ui {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-right: auto;
  position: absolute;
  width: 100%;
}

#board .ui .controls .active {
  background-color: var(--swatch1);
}

/* media queries
–––––––––––––––––––––––––––––––––––––––––––––––––---------------------------– */

@media (min-width: 600px) {

  #board {
    font-size: 1.2em;
  }
}
