<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>papertracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/gif" href="{{ url_for('static', filename='theme/favicon.gif') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='theme/screen.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" />
  </head>

  <body>

    <div id="scanlines"></div>

    <div id="controls">
      <button type="button" id="start">start</button>
      <button type="button" id="step">step</button>
      <button type="button" id="reload">reload</button>
    </div>

    <div id="board"></div>

    <canvas id="canvas" width="1280" height="720"></canvas>

    <input type="file" id="photo" />
    <button type="button" id="snap">snap</button>

    <script src="./static/js-aruco/cv.js"></script>
    <script src="./static/js-aruco/aruco.js"></script>
    <script src="./static/Init.js" type="module"></script>

  </body>
</html>
