<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>PaperTracker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/gif" href="{{ url_for('static', filename='favicon.gif') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" />
</head>

<body>

  <div id="scanlines"></div>

  <div id="controls">
    <button type="button" id="start">start</button>
    <button type="button" id="step">step</button>
    <button type="button" id="reload" onclick="location.reload();">reload</button>
  </div>

  <div id="board">
    <!-- applied in js
    <div class="cell">
      <div class="tile1"></div>
      <div class="tile2"></div>
    </div>
    -->
  </div>

  <p>
    <!-- uncomment img to switch from webcam to test image
    <img src="static/opencv/test.jpg" id="testimg" /> -->
    <canvas id="canvas" width="1280" height="720"></canvas>
  </p>
  <button type="button" id="snap">snap</button>

  <script src="./static/js-aruco/cv.js"></script>
  <script src="./static/js-aruco/aruco.js"></script>
  <script src="./static/Tone.js"></script>
  <script src="./static/Aruco.js" type="module"></script>
  <script src="./static/Tile.js" type="module"></script>
  <script src="./static/Board.js" type="module"></script>

  <script type="module">
    import {Aruco} from './static/Aruco.js';
    import {Tile}  from './static/Tile.js';
    import {Board} from './static/Board.js';

    let detect = new Aruco('canvas');

    let devmode = 1;

    if (devmode) {
      var game = new Board(6, 12, 5); // Board(rows, cols, speed)
      window.game = game;
      window.Tile = Tile;
    }
    else {
      var game = new Board();
    }

    game.setupBoard();
    // snap button
    document.getElementById('snap').addEventListener('click', () => {

      detect.tiles.forEach((tile) => {
        game.addTile(0, 0, new Tile(11, 'CC'));
      });
    });

    // position tiles -- addTile(c, r, new Tile(tile1, tile2, orientation))
    // tiles: N/S/W/E, A__, CC/CM/CY
    // cyan pulse
    game.addTile(0, 0, new Tile('S', 'CC'));
    game.addTile(0, 4, new Tile('AS1', 'E', 'h')); // h arg is for optional orientation (yet to implement)
    game.addTile(4, 4, new Tile('AH', ' ')); // h arg is for optional orientation (yet to implement)
    game.addTile(5, 4, new Tile('AK1', ' ')); // h arg is for optional orientation (yet to implement)
    game.addTile(8, 4, new Tile('N', ' '));
    game.addTile(8, 0, new Tile('W', ' '));
    // magenta pulse
    game.addTile(5, 2, new Tile('E', 'CM'));
    game.addTile(8, 2, new Tile('AK2', ' '));
    game.addTile(9, 2, new Tile('AK2', 'W'));
    // yellow pulses
    game.addTile(10, 0, new Tile('S', 'CY'));
    game.addTile(11, 5, new Tile('W', 'CY'));

    // step button
    document.getElementById('step').addEventListener('click', () => {
      game.updateBoard();
      //console.log(game);
    });
    // start button
    document.getElementById('start').addEventListener('click', (e) => {
      window.setInterval(() => game.updateBoard(), 1000/game.speed);
      e.srcElement.classList.add('active');
    });

  </script>

</body>
</html>
