<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>papertracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/gif" href="{{ url_for('static', filename='theme/favicon.gif') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='theme/screen.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" />
  </head>

  <body>

    <div id="scanlines"></div>

    <div id="wrapper">

      <input type="file" id="photo" style="display:none" />

      <div id="app">

        <div id="snap" class="frame">
          <video id="video" autoplay="true"></video>
          <div class="ui">
            <button type="button" id="snap0">go fullscreen</button>
            <button type="button" id="snap1" class="hide">snap a pic</button>
            <button type="button" id="snap2" class="hide">snap another angle</button>
          </div>
        </div>

        <div id="board" class="frame hide">
          <div class="ui">
            <div class="controls">
              <button type="button" id="start">start</button>
              <button type="button" id="step">step</button>
              <button type="button" id="reload">re-snap</button>
            </div>
          </div>
        </div>

        <div id="version">··~*\\ papertracker alpha //*~··</div>
      </div>

      <canvas id="canvas" style="display:none"></canvas>

      <script src="./static/js-aruco/cv.js"></script>
      <script src="./static/js-aruco/aruco.js"></script>
      <script src="./static/Init.js" type="module"></script>

    </div>

  </body>
</html>
