@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-align: center;
}

button {
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 8px;
}

#frame {
  display: grid;
}

#frame .xlabels,
#frame .ylabels {
  color: rgb(85,23,167, 0.75);
  font-size: 0.8em;
}

#frame .xlabels {
  display: grid;
  padding: 1.3em 0;
}

#frame .ylabels {
  display: grid;
  height: 100%;
}

#frame .ylabels .label {
  align-items: center;
  display: flex;
  padding: 0 1.8em;
}
#frame .ylabels.left .label {
  justify-content: flex-end;
}

#board {
  outline: 8px solid rgb(85,23,167);
  display: grid;
  margin: auto;
}

#board .cell {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid rgb(85,23,167);
}

#board .cell .tile1,
#board .cell .tile2 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

#board .cell .tile1 {
  border-right: 1px dashed rgb(85,23,167, 0.25);
}
